
<div class="register-form">
    <form class="d-flex flex-column justify-content-between">
      <div class="form-group mb-4">
        <label for="titulo">Titulo</label>
        <input type="text" [(ngModel)]="livro.titulo" name="titulo" class="form-control" id="titulo"
          placeholder="Titulo do Livro">
      </div>
      <div class="form-group mb-4">
        <label for="autor">Autor</label>
        <input type="text" [(ngModel)]="livro.autor" name="autor" class="form-control" id="autor"
          placeholder="Autor do Livro">
      </div>
      <button *ngIf="livro.id == null"type="button" (click)="create()" class="w-30 btn btn-success">Cadastrar</button>
      <button *ngIf="livro.id > 0" type="button" (click)="update()" class="w-30 btn btn-success">Salvar</button>
    </form>
  </div>