<p>header works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<input class="btn btn-primary" routerLink="/admin/pessoas" type="button" value="Listagem de pessoas" />
<br>
<input class="btn btn-primary" routerLink="/admin/pessoas/novo" type="button" value="Add pessoa" />
<br>
<input class="btn btn-primary" routerLink="/admin/carros" type="button" value="Listagem de carros" />
<br>
<input class="btn btn-primary" routerLink="/admin/carros/novo" type="button" value="Add carros" />
<br>
<input class="btn btn-primary" routerLink="/admin/livros" type="button" value="Listagem de livros" />
<br>
<input class="btn btn-primary" routerLink="/admin/livros/novo" type="button" value="Add livros" />
<br>
<input class="btn btn-primary" routerLink="/login" type="button" value="Sair" />
</nav>
