<form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">NOME</label>
        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="NOME DO MODELO">
      </div>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">ANO</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ANO DO CARRO">
        </div>
      </div>
      <div class="col-auto">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>  
  </form>